<div class="main-container">
  <div class="note-section">
      <h1>New Todo</h1>
      <div class="table-container">
        <%= render 'form', todo: @todo %>
      </div>
      <div class="action-btn">
        <%= link_to 'Back', user_path(@user) %>
      </div>
  </div>
</div>
